* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(
    to bottom,
    rgb(98, 213, 128),
    rgb(81, 178, 106),
    rgb(45, 105, 63)
  );
  color: white;
  text-align: center;
  padding: 50px 10px 10px;

  p {
    width: 400px;
    margin: auto;
    padding: 20px;
  }

  nav {
    text-align: left;
    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      padding: 10px;

      &:hover {
        background-color: rgb(64, 145, 84);
        color: rgb(23, 53, 32);
        border-radius: 6px;
      }
    }
  }
}

@font-face {
  font-family: "idroid";
  src: local(idroid), url(./fontes/idroid.otf);
}
body {
  background-color: #84e1ad;
}
main {
  #curiosidades {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    width: 900px;
    border-radius: 0 0 10px 10px;

    article {
      h1,
      h2 {
        font-family: "idroid";
        color: rgb(45, 105, 63);
      }
      h1 {
        font-size: 2em;
      }
    }
  }
  .extra {
    background-color: #c5ebd6;
    border-radius: 10px;
    width: 100%;
    p,
    h3 {
      padding: 10px;
    }

    h3 {
      background-color: #4da966;
      color: white;
      border-radius: 10px 10px 0 0;
    }
  }
}

footer {
  background-color: rgb(45, 105, 63);
  text-align: center;
  color: white;
}
